In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
nltk.download('punkt')
from nltk.tokenize import sent_tokenize, word_tokenize
import json

[nltk_data] Error loading punkt: <urlopen error [WinError 10061] No
[nltk_data]     connection could be made because the target machine
[nltk_data]     actively refused it>

In [113]:
df = pd.read_csv('../data/clean/clean_data.csv', encoding='latin1')

In [114]:
df.head()

   gender                                               text
0       1  Robbie E Responds To Critics After Win Against...
1       1  It felt like they were my friends and I was li...
2       1  i absolutely adore when louis starts the songs...
3       1  Hi - Looking at the url - do you use ?! Don't ...
4       0  Watching Neighbours on Sky+ catching up with t...

### tokenizing

In [115]:
def tokenizer(data):
    data['word_broken'] = pd.DataFrame(df['text'].apply(lambda x: word_tokenize(x)))
    data['sentence_broken'] = pd.DataFrame(df['text'].apply(lambda x: sent_tokenize(x)))
    return data

In [116]:
df = tokenizer(df)

In [117]:
df.drop(['text'], axis=1, inplace=True)
df.head()

,gender,word_broken,sentence_broken
0,1,"[Robbie, E, Responds, To, Critics, After, Win,...",[Robbie E Responds To Critics After Win Agains...
1,1,"[It, felt, like, they, were, my, friends, and,...",[It felt like they were my friends and I was l...
2,1,"[i, absolutely, adore, when, louis, starts, th...",[i absolutely adore when louis starts the song...
3,1,"[Hi, -, Looking, at, the, url, -, do, you, use...","[Hi - Looking at the url - do you use ?, !, Do..."
4,0,"[Watching, Neighbours, on, Sky+, catching, up,...",[Watching Neighbours on Sky+ catching up with ...

In [118]:
male_tweets = df[(df['gender'] == 1)]
female_tweets = df[(df['gender'] == 0)]

### save word_broken & sentence broken data

In [119]:
def get_sentence_broken(data):
    word_broken = data.copy()
    word_broken.drop(['sentence_broken'], axis=1, inplace=True)
    
    sentence_broken = data.copy()
    sentence_broken.drop(['word_broken'], axis=1, inplace=True)

    return word_broken, sentence_broken

In [120]:
all_tweets_word_broken, all_tweets_sentence_broken = get_sentence_broken(df)
male_tweets_word_broken, male_tweets_sentence_broken = get_sentence_broken(male_tweets)
female_tweets_word_broken, female_tweets_sentence_broken = get_sentence_broken(female_tweets)

In [121]:
with open("../data/wordbroken/all_tweets.json", "w") as json_file:
    json.dump(all_tweets_word_broken.to_dict('records'), json_file)
with open("../data/sentencebroken/all_tweets.json", "w") as json_file:
    json.dump(all_tweets_sentence_broken.to_dict('records'), json_file)

with open("../data/wordbroken/male_tweets.json", "w") as json_file:
    json.dump(male_tweets_word_broken.to_dict('records'), json_file)
with open("../data/sentencebroken/male_tweets.json", "w") as json_file:
    json.dump(male_tweets_sentence_broken.to_dict('records'), json_file)

with open("../data/wordbroken/female_tweets.json", "w") as json_file:
    json.dump(female_tweets_word_broken.to_dict('records'), json_file)
with open("../data/sentencebroken/female_tweets.json", "w") as json_file:
    json.dump(female_tweets_sentence_broken.to_dict('records'), json_file)